{% extends "template.html" %}
{% block title %}{{title}}{% endblock %}

{% block body %}
<section class="ask-question">
  <form method="POST">
    <div class="title">{{ _("Ask Question") }}</div>
    <div class="row">
      <label for="title">{{ 'title' | _ | capitalize }}</label>
      <input class="styled" id="title" name="title" placeholder="{{ _('What is your question?') }}" />
    </div>
    <div class="row">
      <label for="question">{{ _('Body') }}</label>
      <textarea id="question" class="styled" name="question"></textarea>
    </div>
    <div class="row">
      <label for="tags">{{ _('Tags') }}</label>
      <input id="tags" name="tags"/>
    </div>
    {% if userid is null %}
    <label>Email:</label>
    <input name="email" placeholder="{{ _('john@example.com') }}"/>
    <label>{{ _('Username') }}</label>
    <input name="name" placeholder="{{ _('username') }}"/>
    {% endif %}
    <div class="row">
      <input class="btn" type="submit" value="{{ _('ask') }}"/>
    </div>
  </form>
</section>
<script type="text/javascript">
 aimed(document.querySelector('[name="question"]'));
 tagger(document.querySelector('[name="tags"]'));
</script>
{% endblock %}
