<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="Description" content=""/>
    <link rel="shortcut icon" href=""/>
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--
    <link href="css/style.css" rel="stylesheet"/>
    -->
    <link rel="canonical" href="{{root}}{{canonical}}"/>
    <style>

    </style>
</head>
<body>
  <form method="POST">
    <input name="title" placeholder="{{ _('title') }}" />
    <textarea name="question"></textarea>
    <input name="tags"/>
    {% if not logged %}
    <label>Email:</label>
    <input name="email" placeholder="{{ _('john@example.com') }}"/>
    <label>{{ _('Username') }}</label>
    <input name="name" placeholder="{{ _('username') }}"/>
    {% endif %}
    <input type="submit" value="{{ _('ask') }}"/>
  </form>
</body>
</html>
