<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="Description" content=""/>
    <link rel="shortcut icon" href=""/>
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--
    <link href="css/style.css" rel="stylesheet"/>
    -->
    <link rel="canonical" href="{{root}}{{canonical}}"/>
    <style>

    </style>
    <!-- PrismJS -->
    {% if languages %}
    <script src="https://unpkg.com/prismjs@1.15.0/prism.js"></script>
    <link href="https://unpkg.com/prismjs@1.15.0/themes/prism.css" rel="stylesheet"/>
    {% for lang in languages %}
    {% if lang == 'php' %}
    <script src="https://unpkg.com/prismjs@1.15.0/components/prism-clike.js"></script>
    <script src="https://unpkg.com/prismjs@1.15.0/components/prism-markup-templating.js"></script>
    {% endif %}
    <script src="https://unpkg.com/prismjs@1.15.0/components/prism-{{lang}}.js"></script>
    {% endfor %}
    {% endif %}
</head>
<body>
  <section class="question">
    <header>
      <h2>{{title}}</h2>
      <div class="meta">
        <div class="author">
          <a href="{{ root }}/user/{{ userid }}">{{username}}</a>
          <div class="avatar">
            <img src="https://www.gravatar.com/avatar/{{ hash }}?d=identicon&s=32"/>
          </div>
        </div>
      </div>
      <div class="votes">
        <a class="up-vote{% if vote != null and vote %} selected{% endif %}">Up Vote</a>
        <div class="num">
          {{ votes }}
        </div>
        <a class="down-vote{% if vote != null and not vote %} selected{% endif %}">Down Vote</a>
      </div>
      <div class="date">
        {{ time_ago }}
      </div>
    </header>
    <article class="body">
      {{ question | raw }}
    </article>
    <div class="tags">
      <p class="label">{{ _("tags") }}</p>
      <ul>
        {% for tag in tags %}
        <li><a href="{{ root }}/tag/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="answers">
    </article>
    {% for answer in answers %}
    <article class="answer">
      <header>{{answer.username}}</header>
      <div class="content">{{answer.answer}}</div>
    </article>
    {% endfor %}
  </section>
  <script type="text/javascript">
   var votes = document.querySelector('.question .votes .num');
   function votter(selector, vote) {
       var node = document.querySelector(selector);
       if (node) {
           node.addEventListener('click',function() {
               if (!node.className.match(/selected/)) {
                   fetch('{{ root }}/vote/{{ id }}', {
                       method: 'POST',
                       body: 'vote=' + vote,
                       headers: {
                           'Content-Type': 'application/x-www-form-urlencoded'
                       }
                   }).then(res => res.json())
                     .then(json => {
                         if (json.success) {
                             votes.innerHTML = json.count;
                         }
                     });
               }
           });
       }
   }
   votter('.question .up-vote', 1);
   votter('.question .down-vote', 0);
  </script>
</body>
</html>
