<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="Description" content=""/>
    <link rel="shortcut icon" href=""/>
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--
    <link href="css/style.css" rel="stylesheet"/>
    -->
    <link rel="canonical" href="{{root}}{{canonical}}"/>
    <style>

    </style>
    {% if languages %}
    <script src="https://unpkg.com/prismjs@1.15.0/prism.js"></script>
    <link href="https://unpkg.com/prismjs@1.15.0/themes/prism.css" rel="stylesheet"/>
    {% for lang in languages %}
    <script src="https://unpkg.com/prismjs@1.15.0/compontents/prism-{{lang}}.js"></script>
    {% endfor %}
    {% endif %}
</head>
<body>
  <section class="question">
    <header>
      <h2>{{title}}</h2>
      <div class="meta">
        <div class="author">{{author}}</div>
      </div>
      <div class="date">
        {{ time_ago }}
      </div>
    </header>
    <article class="body">
      {{ question | raw }}
    </article>
    <div class="tags">
      <p class="label">{{ _("tags") }}</p>
      <ul>
        {% for tag in tags %}
        <li><a href="{{ root }}/tag/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section class="answers">
    </article>
    {% for answer in answers %}
    <article class="answer">
      <header>{{answer.username}}</header>
      <div class="content">{{answer.answer}}</div>
    </article>
    {% endfor %}
  </section>
</body>
</html>
